<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.username.mapper.UserMapper">
    <select id="findById" resultType="com.example.username.dto.role.RoleDto">
        SELECT r.id       as "id",
               r.role_name_nepali     as "roleNameEnglish",
               r.role_name_english     as "roleNameNepali",
               r.is_active  as "isActive"
        from roles r
        where r.id=#{id}
    </select>
</mapper>

